* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary: #ffcb74;
  --off-white: #f0f0f0;
  --milk: #fefefe;
  --near-dark: #2f2f2f;
  --dark-green: #113e21;
  --purple: #646cff;
  --violet: #535bf2;
}


body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--milk);
}

h1 {
  color: var(--near-dark)
}
