* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary: #ffcb74;
  --off-white: #dfdede;
  --milk: #fefefe;
  --near-dark: #afaeae;
  --dark-green: #113e21;
  --purple: #646cff;
  --violet: #7b81fa;
  --bad-signal: #f72727;

  --tea: #A6E22E;
  --dark-grey: #303030;
  --white: #eee;
  --sky: #66d9ef;
}


body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--dark-grey);
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--sky);
}
